
.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

/* Button styles specific to to-do container */
.todo-container button {
  width: 100%;
  background-color: #757de9; /* Light purple */
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-container button:hover {
  background-color: #5747c0;
}
.image{
  src:'./Images/ico-delete.png'
}

/* Responsive layout for TodoContainer */
@media only screen and (max-width: 768px) {
  .todo-container {
    padding: 15px;
  }
}

